
@{
    ViewBag.Title = "Index";
}

<h2>Project</h2>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Manage", "index", "WorkFlow")</li>
    </ul>
</div>


 <h3>
    Displays a working project<br/>
    Shows Calender View<br/>
    Generates History<br/>
    Features date shift<br/>
</h3>